@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --background: #0C1A18;
  --foreground: #ffffff;
  user-select: none;
  scroll-behavior: smooth;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
/* width */
::-webkit-scrollbar {
  width: 0px;

}


/* Track */
::-webkit-scrollbar-track {
  background: #ffffff00;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #9dfdcf6b;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}